# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Unit Tests & Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout repo
    - uses: actions/checkout@v4

    # 2️⃣ Ustawienie Pythona
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest coverage requests

        # Jeśli masz requirements.txt, dodatkowo zainstaluj wszystko z niego
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        set -x
        # Sprawdza poważne błędy
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # Exit-zero traktuje błędy jako ostrzeżenia
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run tests with coverage
      run: |
        set -x
        python -m coverage run -m pytest -m "not api"

    - name: Check coverage
      run: |
        python -m coverage report -m
